<section class="auth-wrapper">
    <div class="auth-section">
      <p class="title">Login</p>
      <form class="login-form" [formGroup]="loginForm" (submit)="loginSubmit (this.loginForm.value)">
        <mat-form-field class="w-100">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Enter Username" formControlName="username" />
        </mat-form-field>
        <mat-form-field class="w-100">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Enter Password" formControlName="password">
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
      </form>
    </div>
</section>