<header-section></header-section>
<div class="top-img"> 
  <img src="https://www.torryharris.com/images/this/products/digitmarket/digit-market.png" alt ="digitMarket">
<h2 align="center">API Manager</h2>
</div>
<div class="pricing-form">
  <div class="display"> 
    <h3>Calculate Summary</h3>
    <button mat-raised-button color="primary">Calculate Price</button>
  </div>
    

    <form class="display"> 
      <h3>Choose your Options</h3>
      <legend>Number of a API calls a days* </legend>
      <select name="select-choice" id="select-choice">
        <option value="Choice 1">- - select one - -</option>
        <option value="Choice 2">few</option>
        <option value="Choice 3">modrate</option>
        <option value="Choice 4">Many</option>
        <option value="Choice 5">Lot many</option>
      </select><br>
      <label>Average request/response payload size in KB</label>
      <input type="text"><br>
      <label>Analytics data retention period in month(minimum 1 month)</label>
      <input type="text"><br>
      <legend>Dedicated Performance testing environment required*</legend>
       <input type="radio" id="radio1" name="radios">
       <label for="radio1">Yes</label>
      <input type="radio" id="radio1" name="radios">
      <label for="radio2">No</label>

      <legend>Level of support* </legend>
      <select name="select-choice" id="select-choice">
        <option value="Choice 1">- - select one - -</option>
        <option value="Choice 2">few</option>
        <option value="Choice 3">modrate</option>
        <option value="Choice 4">Many</option>
        <option value="Choice 5">Lot many</option>
      </select><br>

    </form>

</div>

 <!-- <footer></footer> -->
