<header-section></header-section>
<section>
  <div class="top-img"> 
    <img src="{{ pricingInfo.prodImg }}" alt ="digitMarket" height="80px">
  </div>
  <h2 align="center">{{ pricingInfo.productname }}</h2>
  <div class="pricing-form">
    
    <form class="display , form-margine" [formGroup]="pricingForm">
      <h3>Choose your Options</h3>
      <div class="pricing-form" *ngFor="let val of pricingInfo.pricingparameters">
        <div class ="form-select-label" *ngIf="val.userInput && val.options.length > 2">
          <legend>{{ val.value }}</legend>
          <select name="select-choice" id="select-choice">
            <option *ngFor="let opt of val.options" value="{{ opt.cost }}">{{ opt.value }}</option>
          </select>
        </div>
        <div class ="form-radio-btn" *ngIf="val.userInput && val.options.length === 2">
          <legend>{{ val.value }}</legend>
          <div *ngFor="let opt of val.options" >
            <input type="radio" id="radio1" name="radios">
            <label for="radio2">{{ opt.action }}</label>
          </div>
        </div>
        <div class="form-input-text" *ngIf="val.userInput && val.options.length === 1">
          <mat-form-field class="w-100">
          <mat-label>{{val.value}}</mat-label>
          <input matInput placeholder="{{ val.value }}" />
          </mat-form-field>
        </div>
      </div>
      <div class="addOns" *ngFor="let val of pricingInfo.addOns">
        <div class ="form-select-label" *ngIf="val.options.length > 1">
        <legend>{{ val.value }}</legend>
          <select name="select-choice" id="select-choice">
            <option *ngFor="let opt of val.options" value="{{ opt.cost }}">{{ opt.value }}</option>
          </select>
          </div>
          <div class="form-input-text" *ngIf="val.userInput &&    val.options.length === 1">
            <mat-form-field class="w-100">
            <mat-label>{{val.value}}</mat-label>
            <input matInput placeholder="{{ val.value }}" />
            </mat-form-field>
          </div>
      </div>
    </form>
    <div class="display , form-margines"> 
      <h3>Calculate Summary</h3>
      <button mat-raised-button color="primary">Calculate Price</button>
    </div>
  </div>
</section>
<footer-section></footer-section>
