<header-section></header-section>
<section class="footer-fit">
  <div class="top-img"> 
    <img src="{{ pricingInfo.prodImg }}" alt ="digitMarket" height="80px">
  </div>
  <div class="pricing-form">
    <form>
      <h3>Choose your Options</h3>
      <div *ngFor="let val of pricingInfo.pricingparameters">
        <div class="form-select-label py-2" *ngIf="val.userInput && val.options.length > 2">
          <legend>{{ val.value }}</legend>
          <select name="select-choice" id="select-choice">
            <option *ngFor="let opt of val.options" value="{{ opt.cost }}">{{ opt.value }}</option>
          </select>
        </div>
        <div #radioOption class="form-radio-btn py-2" *ngIf="val.userInput && val.options.length === 2">
          <legend>{{ val.value }}</legend>
          <div>
            <input type="radio" id="radio1" name="addon" (click)="modifyOptions (true)">
            <label for="radio2">Yes</label>
            <input type="radio" id="radio1" name="addon" (click)="modifyOptions (false)">
            <label for="radio2">No</label>
          </div>
        </div>
        <div class="form-input-text" *ngIf="val.userInput && val.options.length === 1">
          <mat-form-field class="w-100">
          <mat-label>{{val.value}}</mat-label>
          <input matInput placeholder="{{ val.value }}" />
          </mat-form-field>
        </div>
      </div>
      <div *ngIf="addonVisibility">
        <h3>Addon Options</h3>
        <div class="addOns" *ngFor="let val of pricingInfo.addOns">
          <div class ="form-select-label py-2" *ngIf="val.options.length > 1">
          <legend>{{ val.value }}</legend>
            <select name="select-choice" id="select-choice">
              <option *ngFor="let opt of val.options" value="{{ opt.cost }}">{{ opt.value }}</option>
            </select>
            </div>
            <div class="form-input-text" *ngIf="val.userInput && val.options.length === 1">
              <mat-form-field class="w-100">
              <mat-label>{{val.value}}</mat-label>
              <input matInput placeholder="{{ val.value }}" />
              </mat-form-field>
            </div>
        </div>
      </div>
    </form>
    <div class="calc-area">
      <div>
        <h3>Calculate Summary</h3>
        <button mat-raised-button color="primary">Calculate Price</button>
      </div>
    </div>
  </div>
</section>
<footer-section></footer-section>
