legend,
label {
  display: inline-block;
  margin-bottom: .5rem;
}
select {
  display: block;
  padding: .5rem;
  width: 100%;
  background-color: white;
  border-radius: .25rem;
  border: 1px solid #e5e5e5;
  outline: none;
      
}
.display{
  padding: 15px;
  margin: auto 50px 50px 50px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.top-img {
  text-align: center;
  padding: 20px;
}
.pricing-form{
  display: flex;
  padding: 5px;
}
