.pricing-form{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 50px;
  padding: 5px;
}
.pricing-form form {
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 5px;
}
.calc-area>div {
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 5px;
}
legend,
label {
  display: inline-block;
  margin-bottom: .5rem;
}
select {
  display: block;
  padding: .5rem;
  width: 100%;
  background-color: white;
  border-radius: .25rem;
  border: 1px solid #e5e5e5;
  outline: none;
      
}
.display{
  padding: 15px;
  margin: auto 50px ;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.top-img {
  text-align: center;
  padding: 20px;
  
}
.form-input-text{
  width: 100%;
}